
<meta charset = 'utf-8' />

<meta
    http-equiv = 'X-UA-Compatible'
    content = 'IE=edge'
/>

<meta
    content = 'width=device-width,maximum-scale=2'
    name = 'viewport'
/>

<title>{{- site.title -}}</title>

{%- include Favicons.liquid -%}

{%- include Styles.liquid name = 'Reset' priority = 'High' -%}
{%- include Styles.liquid name = 'Theme' -%}
{%- include Styles.liquid name = 'Highlight' priority = 'Low' -%}