
{%- assign root = site.baseurl -%}

<header class = 'outer' >
    <div class = 'inner' >

        <a
            class = 'H1'
            href = '{{- root -}}'
        > {{- site.title -}} </a>

        {%- include Crumbs.liquid -%}

    </div>
</header>