
{%- assign root = site.baseurl -%}

<header class = 'outer' >

    {%- if site.github.is_project_page -%}
        <a
            id = 'forkme_banner'
            href = '{{- site.github.repository_url -}}'
        > View on GitHub </a>
    {%- endif -%}

    <div class = 'inner' >

        <a
            class = 'H1'
            href = '{{- root -}}'
        > {{- site.title -}} </a>

        {%- include Crumbs.liquid -%}

    </div>
</header>
